@import 'tailwindcss';

@source '../../node_modules/primereact';

:root {
    --background: #121212;
    --foreground: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-elevation-1: #1e1e1e;
    --color-elevation-2: #2a2a2a;
    --color-elevation-3: #383838;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    button {
        cursor: pointer;
        outline-style: none;
    }
    h1 {
        font-size: var(--text-2xl);
        font-weight: 700;
    }
    h2 {
        font-size: var(--text-xl);
        font-weight: 700;
    }
    h3 {
        font-size: var(--text-lg);
    }
}

button.subtle {
    opacity: 0.4;
}

button.subtle:hover {
    opacity: 1;
}

.sketch-picker label {
    color: var(--foreground) !important;
}

.sketch-picker input {
    font-size: var(--text-xs) !important;
    width: 100% !important;
    box-shadow: none !important;
    border: 0 !important;
    background: rgba(0, 0, 0, 0.2) !important;
    border-radius: var(--radius-sm) !important;
    padding: calc(var(--spacing) / 2) calc(var(--spacing)) !important;
    outline: none !important;
}

.sketch-picker input:focus {
    box-shadow: inset 0 0 0 calc(1px + var(--tw-ring-offset-width)) oklch(71.5% 0.143 215.221) !important;
}
